@inherits LayoutComponentBase

<PageTitle>EldenRingBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/roadmap" target="_blank">Roadmap</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer>
            <p>
                &copy; Copyright @DateTime.Now.Year negator13, All Rights Reserved. App Version: <strong>0.1.1.</strong> Patch Version: <strong>1.0.3</strong>
                <br />
                Please contact <a href="https://www.reddit.com/user/negator13"><strong>u/negator13</strong></a> with questions, suggestions, or bug reports.
                 <br />
                Thanks to Phil on reddit for providing data and assistance. Check out his <a href=https://www.reddit.com/r/Eldenring/comments/tbco46/elden_ring_weapon_calculator>Elden Ring Weapon Calculator</a>!
            </p>
        </footer>
    </main>
</div>
