@inherits LayoutComponentBase

<PageTitle>EldenRingBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer  class="content px-4">
            <p>&copy; Copyright @DateTime.Now.Year negator13, All Rights Reserved.</p>
            <p>Please contact <a href="https://www.reddit.com/user/negator13"><strong>u/negator13</strong></a> with questions, suggestions, or bug reports.</p>
            <p>App Version 0.1.0. Patch Version 1.0.3</p>
            <p>Thanks to Phil on reddit for providing data and assistance. Check out his <a href=https://www.reddit.com/r/Eldenring/comments/tbco46/elden_ring_weapon_calculator>Elden Ring Weapon Calculator</a>!</p>
        </footer>
    </main>
</div>
