<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/eldenring-logo.png" height="63" width="190">
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AR Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changelog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Changelog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roadmap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Roadmap
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acknowledgements">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Acknowledgements
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
