@page "/Changelog"

<PageTitle>Changelog</PageTitle>

<h2>Changelog</h2>

<p></p>

<table class="table">
    <thead>
        <tr>
            <th>Patch Version</th>
            <th>App Version</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1.03</strong></td>
            <td><strong>0.3.0</strong></td>
            <td>
                <ul>
                    <li>Big styling overhaul, implemented Dark mode</li>
                    <li>Improved AR Calculator UI/UX</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>1.03</strong></td>
            <td><strong>0.2.0</strong></td>
            <td>
                <ul>
                    <li>Condensed input forms on AR Calculator for ease of use</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>1.03</strong></td>
            <td><strong>0.1.1</strong></td>
            <td>
                <ul>
                    <li>Implemented typeahead text search for Weapon on Calculator page</li>
                    <li>Styling updates (reverted to light theme for now due to issues with dark theme)</li>
                    <li>Added Changelog and Acknowledgements, changed route for AR Calculator from /calculatear to /calculator</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>1.03</strong></td>
            <td><strong>0.1.0</strong></td>
            <td>Initial Release</td>
        </tr>
    </tbody>
</table>