@page "/"

<PageTitle>Elden Ring Web Tools - Home</PageTitle>

<img src="/eldenring-logo.png">

<h1>Welcome to Elden Ring Web Tools!</h1>

<p>This is the "alpha" release of the site App Version <strong>0.1.1</strong>, featuring a working <a href="/calculator">AR Calculator</a> as of Patch <strong>1.0.3</strong>. More features coming soon.</p>