@page "/"
@page "/home"
@page "/index"
@using EldenRingBlazor.Services

<PageTitle>Elden Ring Web Tools - Home</PageTitle>

<MudContainer Class="mt-16">
    <div class="d-flex justify-center">
        <MudImage Src="/eldenring-logo.png" ObjectPosition="ObjectPosition.Center" />
    </div>
    <MudText Typo="Typo.h3" Align="Align.Center">Elden Ring Web Tools</MudText>
    <MudText Align="Align.Center" GutterBottom="true"> by negator13</MudText>
    <br />
    <MudText Align="Align.Center" Typo="Typo.body1">
        This is app version <strong>@VersionInfo.AppVersion.Latest</strong>, current as of as of Patch <strong>@VersionInfo.PatchVersion.Latest</strong>.
    </MudText>
    <MudText Typo="Typo.h4" Align="Align.Left">News</MudText>
    <MudText Align="Align.Left" Typo="Typo.body1">
        Updated for Patch <strong>@VersionInfo.PatchVersion.Latest</strong>.
        <br />
        <strong>@VersionInfo.AppVersion.v1_10_0:</strong> Updated attack and scaling data for Patch 1.09 balance changes.
        <br />
    </MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/build">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Build Planner</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">Choose a Starting Class and plan your character's stats, arms, and armor at the level you're aiming for.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/optimizer">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Starting Class Optimizer</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">Instantly calculate the most efficient Starting Class for your build.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/calculator">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">AR Calculator</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">View detailed base damage, scaling and other attributes for any weapon, tuned to your build.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/armaments">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Weapon Search</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">Search and filter weapons by stat requirements, weapon class, affinity, or upgrade level, and sort by damage, weight, scaling, and more.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/armor">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Armor Search</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">Search and filter armor by equip slot, minimum Poise or maximum Weight, and sort by attributes as well as Poise:Weight and Defense:Weight ratios.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudLink Href="/item-drops">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Item Drop Calculator</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudLink>
                <MudCardContent>
                    <MudText Align="Align.Center">Calculate the exact chances of getting a particular item drop, given your Character's Discovery stat.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>