@page "/"

<PageTitle>Elden Ring Web Tools - Home</PageTitle>

<h1>Welcome to Elden Ring Web Tools!</h1>

<p>This is the "alpha" release of the site App Version <strong>0.1.0</strong>, featuring a working <a href="/calculatear">AR Calculator</a> as of Patch <strong>1.0.3</strong>.</p>

<p>Check out the <a href="/roadmap">Roadmap</a> to see what's planned for the site.</p>

<h3>Acknowledgements</h3>

<p>Huge thanks to Phil on Reddit for generously providing the raw data to make this tool possible, and for even more generously walking me through how to actually use and understand it.</p>
<p>Check out his <a href=https://www.reddit.com/r/Eldenring/comments/tbco46/elden_ring_weapon_calculator>Elden Ring Weapon Calculator</a>, upon which this site's AR Calculator is based!</p>