@page "/roadmap"

<PageTitle>Roadmap</PageTitle>

<h2>Roadmap - Planned Features and Improvements</h2>

<p>Here are the features and fixes you can expect to see going forward.</p>
<p>Please contact <a href="https://www.reddit.com/user/negator13"><strong>u/negator13</strong></a> on reddit or DM <strong>negator13#9565</strong> on Discord with any issues, questions, or suggestions!</p>


<h4>General</h4>
<ul>
    <li>Improve UI, styling, and branding</li>
</ul>

<h4>AR Calculator</h4>
<ul>
    <li>
        Fix miscellaneous issues with specific weapons (edge cases)
    </li>
</ul>

<h4>Weapon Search</h4>
<ul>
    <li>
        Search, sort, and filter Weapons according to minimum stat requirements, damage types, etc
    </li>
    <li>
        Integrate with AR Calculator to find the best weapons for your character
    </li>
</ul>

<h4>Armor Search</h4>
<ul>
    <li>
        Search, sort, and filter Armor according to minimum stat requirements, damage resistances, etc
    </li>
    <li>
        Quickly find Armor with the best Poise:Weight ratio, Defense:Weight ratio, etc
    </li>
</ul>

<h4>Character Planner</h4>
<ul>
    <li>
        Implement a Character Planner to show final stats, AR, etc based on Character levels
    </li>
</ul>

<h4>Patch Versioning System</h4>
<ul>
    <li>
        Allow user to change the Patch version for calculating AR, looking up weapon stats, etc
    </li>
</ul>